.become-patron-button {
  display: inline-block;
  font-family: sans-serif;
  background: #e6461a;
  color: white;
  padding: .5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 700;
  user-select: none;
  border: 1px solid #e6461a;
}
.patreon-icon {
  padding-right: 0.25rem;
}
